[submodule "algorithmic-toolbox"]
	path = algorithmic-toolbox
	url = https://github.com/burakataly/algorithmic-toolbox---coursera.git
[submodule "data-structures"]
	path = data-structures
	url = https://github.com/burakataly/data-structures---coursera.git
[submodule "algorithms-on-graphs"]
	path = algorithms-on-graphs
	url = https://github.com/burakataly/algorithms-on-graphs---coursera.git
